<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">

<head profile="http://gmpg.org/xfn/11">
<base href="http://bmorelocal.com/" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<meta name="verify-v1" content="J9o5eJxtvUDRqUBLTSzwmR53R4TW0gEjMIktWT7SaBU=" />
<title>Bmore Local -- Event Retweets</title>

<meta name="generator" content="WordPress 3.0.1" />

<style type="text/css">
	@import url('http://wp-themes.com/wp-content/themes/think-me/menus.css');
	@import url('http://wp-themes.com/wp-content/themes/think-me/layout.css');
	@import url('http://wp-themes.com/wp-content/themes/think-me/post.css');
	@import url('http://wp-themes.com/wp-content/themes/think-me/comments.css');
	@import url('http://wp-themes.com/wp-content/themes/think-me/style.css');
</style>

<style type="text/css" media="print">
	@import url('http://wp-themes.com/wp-content/themes/think-me/print.css');
</style>

</head>


<body>


	<div id="toplevel-navigation">

    	<div id="toplevel-nav">

    		<ul>
        		<li><a href="">Home</a></li>
                        <!-- li class="page_item page-item-2"><a href="About.html" title="About">About</a></li -->
        	</ul>

            <div class="clear"></div>

        </div>

        <div class="clear"></div>

    </div>

	<div id="main-wrapper">

    

    		<div id="header-wrapper">

            	<div id="title"><a href="" title="BMoreLocal">BMore Local - Event Retweets</a></div>
				<div id="description">Events You Should Have Hear About -- Follow <a href="http://twitter.com/bmorelocal" style="color:white">@bmorelocal</a> on Twitter</div>
                <div class="clear"></div>

            </div>

			        <div id="content">
        	<div id="post-wrapper">
            	                
                    <div class="posts">
                    <h2>Recent</h2>
                    	<div class="post-content">
                    	{{file:rss/{{$twitter_account}}.rss.html}} 
						
                            <div class="post-tags">
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="posts">
                        <h2>Why?</h2>
                    	
                        <div class="post-content">
<p>Over a beer one night, we realized it was time to stop not hearing about all of the cool events that happen in Baltimore like trapeze artistry in Station North, food-making meet-ups, and taco crawls.  Given how busy everyone is, we thought that it would be great to be able to quickly scan tweets related to interesting events.</p>


                            <div class="post-tags">
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="posts">
                        <h2>How to Help</h2>
                    	
                        <div class="post-content">
<p>We are looking for moderators, event mavens, and people to spread the word about this project and give us feedback.  You can work on an existing hash tag, or have us start a new one. Tweet at us to get involved, or start using the hash tag, and we will look into adding you as a maven.</p>

                            <div class="post-tags">
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="posts">
                        <h2>Who?</h2>
                    	
                        <div class="post-content">
<p>Alan and Heather started this, but this is a group effort. We have Moderators, people who have offered to take a lead in finding event mavens and getting them involved, and the event mavens themselves.</p>

                            <div class="post-tags">
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                        <!-- end posts -->

                        <div id="post_navigation">
					<div id="prev_post"></div>
					<div id="next_post"></div>
                    <div class="clear"></div>
				</div>
            </div>
        </div>
        	
    <div id="sidebar-wrapper">
                        <div class="post-content">

<p>Know a maven? Get them using the <b>#bmoevent</b> hashtag to announce an event. We'll pick them up.</p>

<p>The purpose of BmoreLocal is to make it easy to find interesting events by leveraging Twitter.  We have selected tweeters to be Event Mavens, which means every time they tweet about an event and use the relevant hash tag, we retweet them <a href="http://twitter.com/bmorelocal">@bmorelocal</a>. That's it.

<p>We plan on starting with events and then looking at topic related feeds at some point soon.  Our code is on github: <a href="http://github.com/awgrover/curated-hash-feed">awgrover/curated-hash-feed </a>. The first version was built during the <a href="http://baltimorehackathon.com/">2010 Baltimore Hackathon</a></p>
                            <div class="post-tags">
                            </div>
                        </div>           
    </div>

    <div class="clear"></div>

    </div>	
    <div id="footer">
    	<div id="left-column">
        	<div class="wblcks">
                </div>
        </div>
        <div id="middle-column">
        	
            <div class="wblcks">
            	
        </div>
        </div>
        <div id="right-column">
        	
            <div id="about">
            <p>Theme adapted from Myo Kyaw Htun's <a href="http://www.myokyawhtun.com/wordpress-themes/think-me">Think me Theme</a></p>
            </div>
        </div>
        <div class="clear"></div>
        	<div id="credit">
                        <a href="http://validator.w3.org/check?uri=referer" title="Valid XHTML 1.0 Transitional" class="xhtml">XHTML</a><a href="http://jigsaw.w3.org/css-validator/validator?uri=http://wp-themes.com" title="Valid CSS 2.1" class="css">CSS</a> 
       		</div>
    </div>
</body>
</html>
