<html>
<head>
    <link href="/stylesheets/base.css" media="all" rel="stylesheet" type="text/css" />

    <title>
        Curated Twitter Hashtag Stream
    </title>
</head>
<body>
    {{if $error}}<div class="status_message">{{$error}}</div>{{/if}}
    {{if $info}}<div class="status_message">{{$info}}</div>{{/if}}

    <ul>
        {{if $user}}
            <li><a href="?op=User::Logout&redirect=/">logout</a></li>
            <li><a href="twitter">twitter</a></li>
            <li></li>
        {{else}}
            <li><a href="/login">Accounts for Retweeting</a></li>
            <li><a href="/">Accounts for Retweeting</a></li>
        {{/if}}
    </ul>
</body>
</html>
