<html>
<head>
    <link href="/stylesheets/base.css" media="all" rel="stylesheet" type="text/css" />

    <title>
        Curated Twitter Hashtag Stream
    </title>
</head>
<body>
    {{if $error}}<div class="status_message">{{$error}}</div>{{/if}}
    <h1>Add curated hashtag stream</h1>
    <form method="POST" class="table_form">
        <input type="hidden" name="op" value="AddHashTagStream" />
        <label>Title<input name="title" type="text" size="40" /></label>
        <label>Description<input name="Description" type="text" size="40" /></label>
        <label>Curated Twitter Account<input name="twitter_account" type="text" size="40" /></label>
        <label>OAuth API key<input name="oauth_key" type="text" size="60" /></label>
        <label>Hash Tag<input name="hash_tag" type="text" size="60" /></label>
        <input type="submit" name="" value="Add" />
    </form>
</body>
</html>
