<html>
<head>
    <base href="{{$base_href}}" />

    <link href="/stylesheets/base.css" media="all" rel="stylesheet" type="text/css" />

    <title>
        Curated Twitter Hashtag Stream
    </title>
</head>
<body>
    {{if $error}}<div class="status_message">{{$error}}</div>{{/if}}
    {{if $info}}<div class="status_message">{{$info}}</div>{{/if}}

    <table border="1">
      <tr>
        <th>Twitter Account</th>
        <th>Hash Tag</th>
        <th>Description</th>
        <th>Manage</td>
        <th>Get Twitter Access</th>
      </tr>
      {{iterate $user.curated_feed $twit}}
        <tr>
          <td>{{$twit.twitter_account}}</td>
          <td>{{$twit.hashtag}}</td>
          <td>{{$twit.description}}</td>
          <td>
            <ul>
                <li><a href="/twitter:{{$twit.id}}/mavens">mavens ({{$twit.mavens.count}})</a>
                <li><a href="/twitter/users?id={{$twit.id}}">users ({{$twit.users.count}})</a>
            </ul>
          </td>
          <td>
            <form method="POST">
                {{if $twit.oauth_token}}(already did it){{/if}}
                <input type="hidden" name="op" value="OAuthDance({{$twit.id}})" /><input type="submit" value="{{if $twit.oauth_token}}Dance Again{{else}}Do the Dance{{/if}}" />
            </form>
          </td>
        </tr>
      {{/iterate}}
    </table>
    <div><a href="/twitter/new">Add a new twitter-account w/hashtag</a></div>
</body>
</html>
