<html>
<head>
    <link href="/stylesheets/base.css" media="all" rel="stylesheet" type="text/css" />

    <title>
        Curated Twitter Hashtag Stream
    </title>
</head>
<body>
    {{if $error}}<div class="status_message">{{$error}}</div>{{/if}}

    <table border="1">
      <tr>
        <th>Twitter Account</th>
        <th>Hash Tag</th>
        <th>Description</th>
        <th></th>
      </tr>
      {{iterate $twitters $twit}}
        <tr>
          <td>{{$twit.twitter_account}}</td>
          <td>{{$twit.hashtag}}</td>
          <td>{{$twit.description}}</td>
          <td>
            <form method="POST">
                <input type="hidden" name="op" value="OAuthDance({{$twit.id}})" /><input type="submit" value="Get OAuth Token" />
                {{if $twit.oauth_token}}(has one){{/if}}
            </form>
          </td>
        </tr>
      {{/iterate}}
    </table>
</body>
</html>
