<html>
<head>
    <link href="/stylesheets/base.css" media="all" rel="stylesheet" type="text/css" />

    <title>
        Curated Twitter Hashtag Stream: Mavens
    </title>
</head>
<body>
    {{if $error}}<div class="status_message">{{$error}}</div>{{/if}}
    {{if $info}}<div class="status_message">{{$info}}</div>{{/if}}

    <table border="1">
      <tr>
        <th>Twitter Account</th>
        <th>Actions</th>
      </tr>
      {{iterate $twitter.mavens $twit}}
        <tr>
          <td>{{$twit.twitter_account}}</td>
          <td>
            <form method="POST">
            </form>
          </td>
        </tr>
      {{/iterate}}
    </table>
    <p></p>
    <form method="POST" class="table_form">
        <input type="hidden" name="id" value="{{$twitter.id}}" />
        <input type="hidden" name="op" value="Maven.add({{$twitter.id}})" />
        <label>New Mavens <input type = "text" name="twitter_account" size="80" /> (x,y,z..)</label>
        <input type="submit" value="Add" />
    </form>
</body>
</html>
